/* Main Page style */

/* Nadpis prvni urovne */
h1{
	text-align: center;
}

body{
	display: inline;
}

/* sloupec na leve strane stranky s tlacitky pro navigaci */
.firstCol{
	width: 10%;
	float: left;
	margin-left: 1%;
	/*min-width: 100px;*/
}

/* sloupec na pravo s tlacitky pro spravu uctu + hledani leku*/
.thirdCol{
	margin-left: 3%;
	width: 15%;
	float: left;
	/*margin-right: 50px;
	min-width: 150px;*/
}

/* prostredni sloupec s tabulkou leku */
.secondCol{
	width: 60%;
	height: 100%;
	float: left;
	margin-left: 2%;
	/*min-width: 350px;*/
}

/* Menu buttons - navigace*/
.menuButtons{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin-bottom: 4px;
    margin-right: 4px;
    margin-top: 4px;
    border: none;
    cursor: pointer;
    width: 100%;
    display: block;
}

.menuButtons:hover{
    opacity: 0.8;
}

/* bar pro hledani */
.thirdCol .findItem{
	width: 98%;
	float: right;
}

/* tlacitko hledat */
.thirdCol .findButton{
	float: right;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.thirdCol .findButton:hover{
	opacity: 0.8;
}

/* tabulka pro leky */
.secondCol .medTable{
	width: 100%;
}

/* bunka tabulky */
.secondCol .medTable tr .mytd{
	border: 1px solid #ccc;
	width: 32.22%;			/*32.967%;*/
	height: 6cm;
	float: left;
}

/* text s informacemi o uzivateli*/
.thirdCol .info{
	float:left;
	margin-top: 40px;
	margin-bottom: 20px;	
}

/* popis leku (Cena, Skladem,...)*/
.description{
	width: 20%;
	float: left;	
	text-align: left;
}

/* Jmeno leku */
.value, .name{
	word-wrap: break-word;
	margin: 0 auto;
	width: 60%;
	/*text-align: center;*/
}

/* tlacitka pro Rezervaci/Vydej/detail */
.medButton{
	background-color: #4CAF50;
    color: white;
	display: none;
	width: 40%;
	margin: 4px;
    cursor: pointer;
}

.mytd:hover .medButton, .medButton:hover{
	display: block;
}

.medButton:hover{
	opacity: 0.8;
}

.mytd:hover .description, .mytd:hover .value{
	opacity: 0;
}

.mytd:hover .name{
	opacity: 0.8;
}

/* tlacitka pro spravu uctu/logout */
.thirdCol .userButton{
	background-color: #4CAF50;
    color: white;
    float: right;
	width: 100%;
	margin-bottom: 4px; 
	cursor: pointer;
}

.thirdCol .userButton:hover{
	opacity: 0.8;
}

/* tabulka pro rezervace */
.reserTable{
	width: 100%;
	float: left;
	border: 1px solid #ccc;
	border-collapse: collapse;
}

.reserTable tr{
	border: 1px solid #ccc;
	border-collapse: collapse;
	width: 100%;
}

.reserTable tr .reserValues{
	border: 1px solid #ccc;
	border-collapse: collapse;
	text-align: center;
	/*width: 13.6%;
	height: 100%;
	float: left;*/ 					/* 	TODO pozicovani */
}

/* tlacitko pro vydej rezervovaneho leku */
.giveButton{
	width: 100%;
	background-color: #4CAF50;
    color: white;
	border: 1px solid #ccc;
	border-collapse: collapse;
}

/* tlacitko pro zruseni rezervace */
.cancelButton{
	width: 100%;
    background-color: red;
    color: white;
	border: 1px solid #ccc;
	border-collapse: collapse;    
}

.giveButton:hover, .cancelButton:hover{
	opacity: 0.8;
}
