/* Main Page style */

/* Nadpis prvni urovne */
h1{
	text-align: center;
}

body{
	display: inline;
}

/* sloupec na leve strane stranky s tlacitky pro navigaci */
.firstCol{
	width: 10%;
	float: left;
	margin-left: 1%;
	/*min-width: 100px;*/
}

/* sloupec na pravo s tlacitky pro spravu uctu + hledani leku*/
.thirdCol{
	margin-left: 3%;
	width: 15%;
	float: left;
	/*margin-right: 50px;
	min-width: 150px;*/
}

/* prostredni sloupec s tabulkou leku */
.secondCol{
	width: 60%;
	height: 100%;
	float: left;
	margin-left: 2%;
	/*min-width: 350px;*/
}

/* Menu buttons - navigace*/
.menuButtons{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin-bottom: 4px;
    margin-right: 4px;
    margin-top: 4px;
    cursor: pointer;
    width: 100%;
    display: block;
}

.menuButtons:hover{
    opacity: 0.8;
}

/* bar pro hledani */
.thirdCol .findItem{
	width: 98.5%;
	float: right;
}

/* tlacitko hledat */
.thirdCol .findButton{
	float: right;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.thirdCol .findButton:hover{
	opacity: 0.8;
}

/* tabulka pro leky */
.secondCol .medTable{
	width: 100%;
}

/* bunka tabulky */
.secondCol .medTable tr .mytd{
	border: 1px solid #ccc;
	width: 32.22%;			/*32.967%;*/
	height: 6cm;
	float: left;;
}

/* text s informacemi o uzivateli*/
.thirdCol .info{
	float:left;
	margin-bottom: 20px;margin-top: 40px;	
	border: 1px solid #ccc;
	width: 97%;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-top: 5px;
	padding-right: 0px;
}

/* popis leku (Cena, Skladem,...)*/
.description{
	width: 20%;
	float: left;	
	text-align: left;
	margin-left: 6px;
}

/* Jmeno leku */
.value, .name{
	word-wrap: break-word;
	margin: 0 auto;
	width: 60%;
	/*text-align: center;*/
}

/* tlacitka pro Rezervaci/Vydej/detail */
.medButton{
	background-color: #4CAF50;
    color: white;
	display: none;
	width: 40%;
	margin: 4px;
    cursor: pointer;
}

.mytd:hover .medButton, .medButton:hover{
	display: block;
}

.medButton:hover{
	opacity: 0.8;
}

.mytd:hover .description, .mytd:hover .value{
	opacity: 0;
}

.mytd:hover .name{
	opacity: 0.8;
}

/* tlacitka pro spravu uctu/logout */
.thirdCol .userButton{
	background-color: #4CAF50;
    color: white;
    float: right;
	width: 100%;
	height: 0.8cm;
	margin-bottom: 4px; 
	cursor: pointer;
}

.thirdCol .userButton:hover{
	opacity: 0.8;
}

/* tabulka pro rezervace */
.reserTable{
	width: 100%;
	float: left;
	border: 1px solid #ccc;
	border-collapse: collapse;
}

.reserTable tr{
	border: 1px solid #ccc;
	border-collapse: collapse;
	width: 100%;
}

.reserTable tr .reserValues{
	border: 1px solid #ccc;
	border-collapse: collapse;
	text-align: center;
	/*width: 13.6%;
	height: 100%;
	float: left;*/
}

/* tlacitko pro vydej rezervovaneho leku */
.giveButton{
	width: 100%;
	background-color: #4CAF50;
    color: white;
	border: 1px solid #ccc;
	border-collapse: collapse;
	cursor: pointer;
}

/* tlacitko pro zruseni rezervace */
.cancelButton{
	width: 100%;
    background-color: red;
    color: white;
	border: 1px solid #ccc;
	border-collapse: collapse; 
	cursor: pointer;   
}

.giveButton:hover, .cancelButton:hover{
	opacity: 0.8;
}

.accountTable{
	width: 20%;
	margin-left: 5%;
}

.accountTable .des{
	text-align: left;
}

.accountTable .val{
	text-align: right;
	padding-left: 15px;
}

.changeButton{
	width: 60px;
	margin-left: 30px;
	background-color: #4CAF50;
    color: white;
	border: 1px solid #ccc;
	border-collapse: collapse;
	cursor: pointer;
}

.changeButton:hover{
	opacity: 0.8;
}

.infoWithoutFind{
	float:left;
	margin-bottom: 20px;
	width: 97%;
	border: 1px solid #ccc;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-top: 5px;
	padding-right: 0px;
}


.medicineInfo{
	float: left;
	width: 100%;
	border: 1px solid #ccc;
}

.medicineInfo .text{
	float: left;
	width: 50%;
	margin-left: 40px;
}

.userForm{
	margin-top: 30px;
	padding: 10px;
	float: left;
	/*border: 1px solid #ccc;*/
}

.formDesc{
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.userInput{
	float: right;
	margin-left: 40px;
	margin-bottom: 7px;
	margin-top: 10px;
}

.amount{	
	width: 28%;
	margin-top: 40px;/*
	padding: 10px;*/
	float: right;
}

.amount tr{
	width: 100%;
	margin-bottom: 4px;
}

.amount tr td{
	margin: 4px;
}

.medDesc{
	float: left;
	line-height: 110%;
}

.medVal{
	width: 60%;
	float: right;
	padding-right: 20%; 
	line-height: 110%; 
}

.reservMedButtons{
	width: 60%;
	float: right;
}

.resButt{
	float: right;
	margin: 10px;
	margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.cancButt{
	float: right;
	margin: 10px;
    background-color: red;
    color: white;
    cursor: pointer;
}

.helpTable{
	width: 60%;
	float: right;
}

.cancButt:hover, .resButt:hover{
	opacity: 0.8;
}

.sellMedButtons{
	float: left;
}

.cancForm{
	float: left;
}

.sellAmount{
	float: left;
}

.sellAmountButt{
	float: left;
	margin-left: 10px;
	margin-top: 25px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.cancSellAmountButt{
	float: right;
	margin-top: 25px;
	margin-left: 15px;
    background-color: red;
    color: white;
    cursor: pointer;
}

.cancButt2{
	float: right;
	margin: 10px;
	margin-right: 20%;
    background-color: red;
    color: white;
    cursor: pointer;
}

.skladTable{
	width: 100%;
	float: left;
	border: 1px solid #ccc;
	border-collapse: collapse;
}

.skladTable tr td{
	text-align: center;
	border: 1px solid #ccc;
	border-collapse: collapse;
}

.pridatButton{
	width: 50%;
	float: right;
	background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.odebratButton{
	width: 50%;
	float: right;
    background-color: red;
    color: white;
    cursor: pointer;
}

.pridatButton:hover, .odebratButton:hover{
	opacity: 0.8;
}

.skladAmount{
	width: 48%;
	float: left;
}

.amountDesc{
	float:left;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 25px;
}

.numAmount{
	float: left;
	margin-top: 25px;
	margin-left: 10px;
}